.aboutMe{
    background-color: $primaryColor;
    color: $fithColor;
    height: 100%;
    
}
.aboutInfo{
    padding: 100px;
h2{
    font-family: $primaryFont;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 30px;
    
}
p{
    font-family: $secondayFont;
    line-height: 1.4;
    margin: 0;
}
}

@media (max-width: 800px){
    .aboutInfo{
        padding: 50px 60px;
    }
}
@media (max-width: 500px){
    .aboutInfo{
        padding: 50px 40px;
    }
}
@media (max-width: 400px){
    .aboutInfo{
        padding:  50px 5px;
    }
}