.contact {
  background-color: $tertiaryColor;
  // background-image: url('../assets/tree-silhouette-2-1.png');
  background-position: center;
  overflow: visible;
  background-size: contain;
  background-position: 75% 0px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;
  color: $seventhColor;
  text-transform: uppercase;
  font-family: $primaryFont;
  box-shadow: 1px 0px 10px 9px rgba(0, 0, 0, 0.1);
}

.contactBox {
  display: flex;
  justify-content: space-around;

  h2 {
    padding-top: 20px;
    margin: 0;
  }
}
.contactInfo {
  display: flex;
  flex-direction: column;
}
.contactLinks {
  padding: 0px;
  padding-top: 30px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
}
.emailLink {
  padding-top: 40px;
  text-decoration: none;
  color: $seventhColor;
  font-size: 1.1rem;
  font-weight: bold;
}
.icon {
  font-size: 3rem;
  color: white;
}
.iconText {
  margin-top: 0;
  font-weight: bold;
}
.contactLinks li:hover,
.contactLinks li:focus {
  .icon {
    color: orangered;
  }
  .iconText {
    color: orangered;
  }
}

.formContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  .email,
  .name {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    input {
      width: 100%;
      font-family: $secondayFont;
      padding: 20px;
      border: none;
      border-radius: 5px;
    }
  }
  .message {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    textarea {
      font-family: $secondayFont;
      padding: 20px;
      width: 100%;
      border: none;
      border-radius: 5px;
      resize: none;
    }
  }
}
.formButton {
  text-decoration: none;
  color: white;
  border: 2px solid $secondaryColor;
  background-color: $primaryColor;
  padding: 10px 20px;
  border-radius: 5px;
}

.formButton:hover,
.formButton:focus {
  cursor: pointer;
  background-color: $tertiaryColor;
}
.formButton:active {
  border: 2px solid $fithColor;
  background-color: orangered;
}

@media (max-width: 850px) {
  .contact {
    background-image: none;
  }
  .contactBox {
    flex-direction: column;
  }
  .contactLinks {
    justify-content: center;
  }
}
