header{
    height: 100vh;
    // background-color: $secondaryColor;
    background-color: rgba(22,180,233,1);
    position: relative;
    color: $fithColor;
    
    ul{
        display: flex;
        flex-direction: row;
    }
}
#canvas{
    position: absolute;
    overflow: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;  
    background-color: rgba(22,180,233,1);
}
.canvasBox{
    width: 60%;
    height: 60%;
}
.nameBox{
    position: absolute;
    margin: 0 auto;
    top: 40%;
    left: 0;
    right: 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    h1{
        font-size: 4rem;
        margin: 0;
        opacity: 1;
        text-transform: uppercase;
    }
    h3{
        text-transform: uppercase;
        animation: show 5s ease-in;
        font-size: 1.5rem;
        margin: 0;
    }

    ul{
        margin: 0;
        margin-top: 40px;
        padding-left: 0;
        display:flex;
        gap:25px;
        a{
            color: $fithColor;
            font-size: 2rem;
            animation:spin 2s ease-in;
        }
    }
    
}
.icon{
    animation:spin 2s ease-in;
}
.nameBox a:hover,
.nameBox a:focus{
    color: orangered;
    cursor: pointer;
}
.name{
    display: flex;
}
.nameLetter{
    font-size: 4rem;
    text-transform: uppercase;
}
@for $letter from 1 through 12{
    .nameLetter:nth-of-type(#{$letter}){
        animation:letterBounce 1.2s #{$letter * 0.3}s both;
  }
} 

.nameLetter:hover{
    color: yellow;
}
@keyframes letterBounce {
    0% {
        transform: translateY(-500px);
        opacity: 0;
    }
    40% {
        transform: translateY(0);
    opacity: 1;
    color: yellow;
  }
  55% {
            transform: translateY(-65px);
  }
  70% {
            transform: translateY(0);
            color: red;
  }
  80% {
            transform: translateY(-30px);
  }
  90% {
            transform: translateY(0);  
            color: orangered;
  }
  95% {
        transform: translateY(-10px);
  }
  100% {
        transform: translateY(0);
        color: white;
  }
}

@keyframes grow{
    0%{
        font-size: 0rem;
        color: red;
    }
    40%{
        color: orangered;
    }
    60%{
        color: orange;
    }
    80%{
        color: yellow;
    }
    100%{
        font-size: 2rem;
    }
}

@keyframes show{
    0% {
            transform: translatex(800px);
    opacity: 0;
  }
  40% {
            transform: translatex(0);
    opacity: .4;
  }
  
  100%{
       transform: translatex(0);
    opacity: 1;
  }
}
@keyframes iconBounce {
  0% {
            transform: translateY(500px);
    opacity: 0;
  }
  40% {
            transform: translateY(0);
    opacity: 1;
  }
  55% {
            transform: translateY(-65px);
  }
  70% {
            transform: translateY(0);
  }
  80% {
            transform: translateY(-30px);
  }
  90% {
            transform: translateY(0);  
  }
  95% {
        transform: translateY(-5px);
  }
  100% {
        transform: translateY(0);
  }
}
@for $icon from 1 through 2{
  .icon:nth-of-type(#{$icon}){
    animation:spin 2s #{$icon* 0.6}s ease-in;
  }
} 
 @keyframes spin { 
        0% { 
            transform: rotate(0deg); 
        } 
        100% { 
            transform: rotate(360deg); 
        }
    }

@media (max-width: 650px){
    .nameLetter{
        font-size: 3rem;
    }
    .nameBox h3{
        font-size: 1.5rem;
    }
}
@media (max-width: 460px){
    .nameLetter{
        font-size: 2rem;
    }
    .nameBox h3{
        font-size: 1rem;
    }
}
@media (max-width: 460px){
    #canvas{
        display: none;
    }
}