.projects{
    background-color: $primaryColor;
    padding: 100px 0px;
    h2{
        margin: 0px;
        color: white;
        font-family: $primaryFont;
    }
}

.projectContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    .projectBox {
    padding: 25px;
    margin: 25px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid $fithColor;
    background-color: $fourthColor;
    color: $fithColor;
    img {
        width: 100%;
        border-radius: 4px;
        margin: 0 auto 20px auto;
    }
    h4{
        color: white;
        font-family: $primaryFont;
        margin: 0px;
    }
    p{
       font-family: $secondayFont; 
    }
}
}
    
    .projectLinks{
        a{
        text-decoration: none;
        color: white;
        border: 2px solid $secondaryColor;
        background-color: $secondaryColor;
        padding: 10px 20px;
        border-radius: 5px;
        }
    }
.projectLinks a:hover,
.projectLinks a:focus{
    background-color: $tertiaryColor;
}
.projectLinks a:active{
    border: 2px solid $fithColor;
}
.projectBox:hover,
.projectBox:focus{
        transform: scale(1.2);
    }
.scrollInLeft{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 2s all ease;
}
.scrollInLeft.active{
    transform: translateX(0);
    opacity: 1;
}
.scrollInRight{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 2s all ease;
}
.scrollInRight.active{
    transform: translateX(0);
    opacity: 1;
}


@media (max-width: 700px){
        .projectContainer{
        .projectBox{
            width: 70%;
        }
    }
}
@media (max-width: 500px){
        .projectContainer{
        .projectBox{
            width: 80%;
        }
    }
}
@media (max-width: 400px){
        .projectContainer{
        .projectBox{
            width: 100%;
        }
    }
}