.skills{
    background-color: $fourthColor;
    height: 40vh;
}

.skillsInfo{
    padding: 60px;
    h2{
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
        text-transform: uppercase;
    }
    ul{
        display:flex;
        justify-content: space-evenly;
        padding: 0px;
    }    
}

.skillItem{
    font-size: 2rem;
    width: 20%;
    i{
        display: block;
        text-align: center;
        font-size: 4rem;
    }
    p{
        color: $fourthColor;
        display: block;
        font-size: 1rem;
        text-align: center;
        margin: 0 auto;
    }
}

.skillItem:hover,
.skillItem:focus{
    .skillIcon{
    color: $fithColor;
    }
    .skillName{
        color: $fithColor;
    }
}
@media (max-width: 650px){
    .skillItem i{
        font-size: 2.5rem;
    }
    .skillItem p{
        font-size: .8rem;
    }
}

.scrollIn{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 2s all ease;
}
.scrollIn.active{
  transform: translateY(0);
  opacity: 1;
}

