// $primaryColor: #02111b;
// $secondaryColor :#3F4045;
// $tertiaryColor : #30292F;
// $fourthColor : rgba(22,180,233,1);
// $fithColor : #FCFCFC;
// $sixthColor: darkgrey;

$primaryFont:'Cinzel', serif;
$secondayFont: 'Cuprum', sans-serif;

$primaryColor: #3B413C;
$secondaryColor :#DAF0EE;
$tertiaryColor : #94D1BE;
$fourthColor : #9DB5B2;
$fithColor : #FFFFFF;
$sixthColor: #9DB5B2;