// $primaryColor: #02111b;
// $secondaryColor :#3F4045;
// $tertiaryColor : #30292F;
// $fourthColor : rgba(22,180,233,1);
// $fithColor : #FCFCFC;
// $sixthColor: darkgrey;

$primaryFont: "Cinzel", serif;
$secondayFont: "Cuprum", sans-serif;

$primaryColor: #3b413c;
$secondaryColor: #daf0ee;
$tertiaryColor: #94d1be;
$fourthColor: #9db5b2;
$fithColor: #ffffff;
$sixthColor: #9db5b2;
$seventhColor: #292e29;
