html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

html {
  font-size: 125%;
  line-height: 1.25;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  text-decoration: none;
  list-style: none;
}

.nav {
  background-color: #3b413c;
  color: #daf0ee;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  width: 100%;
  padding: 0 5% 0 10%;
  top: 0;
  left: 0;
  border-bottom: 2px solid #9db5b2;
  font-family: "Cinzel", serif;
  font-weight: bold;
}
.nav .navBar {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fixedNav {
  background-color: #3b413c;
  color: #daf0ee;
  position: fixed;
}

.navName {
  text-align: center;
  margin-right: 50px;
}

.menuButton {
  display: none;
}

.listMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  width: 80%;
  gap: 20px;
}

.navLink {
  color: #daf0ee;
  text-decoration: none;
  position: relative;
}

.listMenu a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #94d1be;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.listMenu a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 700px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  .menuButton {
    display: block;
  }
  .listMenu {
    overflow: hidden;
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0 10%;
  }
  .showListMenu {
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    border-top: 2px solid;
    padding-top: 20px;
  }
}
header {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/forestback.jpg");
  background-color: #3b413c;
  position: relative;
  color: #94d1be;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#canvas {
  position: absolute;
  overflow: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

.canvasBox {
  width: 60%;
  height: 60%;
}

.nameBox {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  left: 0;
  right: 0;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  opacity: 1;
}
.nameBox h1 {
  font-size: 4rem;
  margin: 0;
  opacity: 1;
  text-transform: uppercase;
  color: #ffffff;
}
.nameBox h3 {
  text-transform: uppercase;
  -webkit-animation: show 2s ease-in;
          animation: show 2s ease-in;
  font-size: 1.5rem;
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 0 #3b413c, -2px 0 #3b413c, 0 2px #3b413c, 0 -2px #3b413c, 1px 1px #3b413c, -1px -1px #3b413c, 1px -1px #3b413c, -1px 1px #3b413c;
}
.nameBox ul {
  margin: 0;
  margin-top: 40px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
.nameBox ul a {
  color: #ffffff;
  font-size: 2rem;
  -webkit-animation: spin 1.5s ease-in;
          animation: spin 1.5s ease-in;
}

.nameBox a:hover,
.nameBox a:focus {
  color: orangered;
  cursor: pointer;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nameLetter {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 0 #3b413c, -2px 0 #3b413c, 0 2px #3b413c, 0 -2px #3b413c, 1px 1px #3b413c, -1px -1px #3b413c, 1px -1px #3b413c, -1px 1px #3b413c;
}

@-webkit-keyframes letterBounce {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    color: red;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: orangered;
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: yellow;
  }
  95% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
}

@keyframes letterBounce {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    color: red;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: orangered;
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: yellow;
  }
  95% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: white;
  }
}
@-webkit-keyframes grow {
  0% {
    font-size: 0rem;
    color: red;
  }
  40% {
    color: orangered;
  }
  60% {
    color: orange;
  }
  80% {
    color: yellow;
  }
  100% {
    font-size: 2rem;
  }
}
@keyframes grow {
  0% {
    font-size: 0rem;
    color: red;
  }
  40% {
    color: orangered;
  }
  60% {
    color: orange;
  }
  80% {
    color: yellow;
  }
  100% {
    font-size: 2rem;
  }
}
@-webkit-keyframes show {
  0% {
    -webkit-transform: translatey(150px);
            transform: translatey(150px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    -webkit-transform: translatey(150px);
            transform: translatey(150px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
    opacity: 1;
  }
}
@-webkit-keyframes iconBounce {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes iconBounce {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
  }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  95% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 650px) {
  .nameLetter {
    font-size: 3rem;
  }
  .nameBox h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 460px) {
  .nameLetter {
    font-size: 2rem;
  }
  .nameBox h3 {
    font-size: 1rem;
  }
}
@media (max-width: 460px) {
  #canvas {
    display: none;
  }
}
.aboutMe {
  background-color: #3b413c;
  color: #ffffff;
  padding: 50px 0;
  position: relative;
}
.aboutMe h2 {
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  text-decoration: underline;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutText {
  position: relative;
  z-index: 3;
  text-align: left;
  line-height: 1.7;
  font-size: 1rem;
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  justify-content: center;
}

.blobContainer {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.blob1 {
  width: 350px;
  height: 200px;
  -webkit-transition: border-radius 0.5s linear;
  transition: border-radius 0.5s linear;
  border: 4px solid #94d1be;
  background-color: #daf0ee;
  opacity: 0.4;
  -webkit-transform: skew(35deg, 10deg);
          transform: skew(35deg, 10deg);
  margin: 20px;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -200px;
  right: 240px;
}

.blob2 {
  width: 200px;
  height: 250px;
  border: 4px solid #daf0ee;
  background-color: #94d1be;
  opacity: 0.4;
  -webkit-transition: border-radius 0.5s linear;
  transition: border-radius 0.5s linear;
  margin: 20px;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 400px;
  left: 0;
  -webkit-transform: skew(25deg, 25deg);
          transform: skew(25deg, 25deg);
}

.blob3 {
  width: 200px;
  height: 300px;
  -webkit-transform: skew(-15deg, -15deg);
          transform: skew(-15deg, -15deg);
  border: 4px solid #94d1be;
  background-color: #daf0ee;
  opacity: 0.4;
  -webkit-transition: border-radius 0.5s linear;
  transition: border-radius 0.5s linear;
  margin: 20px;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 130px;
  right: 100px;
}

.blob4 {
  width: 400px;
  height: 300px;
  border: 4px solid #daf0ee;
  background-color: #94d1be;
  opacity: 0.2;
  -webkit-transition: border-radius 0.5s linear;
  transition: border-radius 0.5s linear;
  margin: 20px;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 200px;
  top: 50px;
}

@media (max-width: 750px) {
  .blob {
    display: none;
  }
  .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .aboutText {
    margin: 0 auto;
    font-size: 1rem;
  }
  .avatar {
    width: 50%;
    margin: 0 auto;
  }
}
.skills {
  background-color: #9db5b2;
  height: auto;
  font-family: "Cinzel", serif;
  padding-bottom: 40px;
  -webkit-box-shadow: inset 1px 10px 10px -7px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 10px 10px -7px rgba(0, 0, 0, 0.3);
}

.skillsInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20%;
}
.skillsInfo h2 {
  padding: 70px 0px 40px 0px;
  margin: 0 auto;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Cinzel", serif;
  text-decoration: underline;
}
.skillsInfo .skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
}

.topStack,
.bottomStack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5%;
  padding-top: 30px;
}

.skillItem {
  font-size: 3rem;
  width: 15%;
}
.skillItem i {
  display: block;
  text-align: center;
  font-size: 3.5rem;
}
.skillItem p {
  font-family: "Cuprum", sans-serif;
  color: #9db5b2;
  display: block;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}

.skillItem:hover .skillIcon,
.skillItem:focus .skillIcon {
  color: #ffffff;
}
.skillItem:hover .skillName,
.skillItem:focus .skillName {
  color: #ffffff;
}

.scrollIn {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 1.5s all ease;
  transition: 1.5s all ease;
}

.scrollIn.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 700px) {
  .skillItem i {
    font-size: 2.5rem;
  }
  .skillItem p {
    font-size: 0.8rem;
  }
}
.projects {
  background-color: #3b413c;
  padding: 100px 0px;
  text-align: center;
  background-image: url("../assets/tree-silhouette-2-5.png");
  background-position: left;
  overflow: visible;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.projects h2 {
  padding-bottom: 20px;
  margin: 0px;
  color: white;
  font-family: "Cinzel", serif;
  text-decoration: underline;
}

.projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 80%;
}
.projectContainer .projectBox {
  padding: 25px;
  margin: 0 AUTO;
  margin-bottom: 40px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  background-color: #9db5b2;
  color: #292e29;
  border-radius: 10px;
  -webkit-box-shadow: 0px 15px 13px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 15px 13px 5px rgba(0, 0, 0, 0.4);
}
.projectContainer .projectBox h4 {
  color: white;
  font-family: "Cinzel", serif;
  color: #292e29;
  font-weight: 800;
  margin: 0px;
  padding-top: 10px;
  font-size: 1.2rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.projectContainer .projectBox p {
  font-family: "Cuprum", sans-serif;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.projectImage {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}
.projectImage img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.projectInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.techStack {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  font-size: 2rem;
  gap: 20px;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.techStack p {
  font-size: 1rem;
  margin: auto;
}

.projectLinks {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-top: 15px;
}
.projectLinks a {
  text-decoration: none;
  color: #3b413c;
  border: 2px solid #daf0ee;
  background-color: #daf0ee;
  padding: 10px 20px;
  border-radius: 5px;
}

.projectLinks a:hover,
.projectLinks a:focus {
  background-color: #94d1be;
}

.projectLinks a:active {
  border: 2px solid #ffffff;
  background-color: orangered;
}

.projectBox:hover,
.projectBox:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.scrollInLeft {
  position: relative;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  opacity: 0;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

.scrollInLeft.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.scrollInRight {
  position: relative;
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  opacity: 0;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
}

.scrollInRight.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1000px) {
  .projectContainer .projectBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    margin-bottom: 40px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .projectContainer .projectBox {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .projectContainer .projectBox {
    width: 100%;
  }
}
.contact {
  background-color: #94d1be;
  background-position: center;
  overflow: visible;
  background-size: contain;
  background-position: 75% 0px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 50px 0;
  color: #292e29;
  text-transform: uppercase;
  font-family: "Cinzel", serif;
  -webkit-box-shadow: 1px 0px 10px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 0px 10px 9px rgba(0, 0, 0, 0.1);
}

.contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contactBox h2 {
  padding-top: 20px;
  margin: 0;
}

.contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactLinks {
  padding: 0px;
  padding-top: 30px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10%;
}

.emailLink {
  padding-top: 40px;
  text-decoration: none;
  color: #292e29;
  font-size: 1.1rem;
  font-weight: bold;
}

.icon {
  font-size: 3rem;
  color: white;
}

.iconText {
  margin-top: 0;
  font-weight: bold;
}

.contactLinks li:hover .icon,
.contactLinks li:focus .icon {
  color: orangered;
}
.contactLinks li:hover .iconText,
.contactLinks li:focus .iconText {
  color: orangered;
}

.formContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
.formContent .email,
.formContent .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.formContent .email input,
.formContent .name input {
  width: 100%;
  font-family: "Cuprum", sans-serif;
  padding: 20px;
  border: none;
  border-radius: 5px;
}
.formContent .message {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.formContent .message textarea {
  font-family: "Cuprum", sans-serif;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  resize: none;
}

.formButton {
  text-decoration: none;
  color: white;
  border: 2px solid #daf0ee;
  background-color: #3b413c;
  padding: 10px 20px;
  border-radius: 5px;
}

.formButton:hover,
.formButton:focus {
  cursor: pointer;
  background-color: #94d1be;
}

.formButton:active {
  border: 2px solid #ffffff;
  background-color: orangered;
}

@media (max-width: 850px) {
  .contact {
    background-image: none;
  }
  .contactBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactLinks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}